@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img style="width:150px;height:150px;padding=0" src="/images/Rau.png" />
    <h1 class="display-4">Welcome to Shop Rau Sạch Toàn Quốc</h1>
</div>
