@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">

    <img class="col-sm-5" width="288px" height="175px" src="~/images/mo-cua-hang-rau-thuc-pham-sach.jpg"  />
    <p class="col-sm-7 pt-4 text-center">được phát triển vào năm 2023, với nhu cầu về sức khỏe shop bán rau sạch của chúng tôi xin gửi đến mọi người những loại rau sạch và đảm bảo sức khỏa cho người tiêu dùng được chứng nhận bởi cục an toàn vệ sinh thực phẩm</p>
</div>
<div class="row">

    <img class="col-sm-5 pt-4" width="200px" height="160px" src="~/images/download (1).png"/>
    <p class="col-sm-7 pt-4 text-center">
        Ăn nhiều rau củ và rau quả có nhiều lợi ích cho sức khỏe, bao gồm: <br />
        Cung cấp chất xơ: Rau củ và rau quả giàu chất xơ, giúp cải thiện hệ tiêu hóa và giảm nguy cơ bệnh tật đường ruột.<br />
        Cung cấp vitamin và khoáng chất: Rau củ và rau quả chứa nhiều vitamin và khoáng chất cần thiết cho cơ thể, bao gồm vitamin A, C, K, acid folic và kali.<br />
    </p>
</div>
